/* imported from Day.scss */

.Cal__Day__root {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 14.28571%;
  list-style: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  max-width: 70px;
  width: 70px; }
  .Cal__Day__root .Cal__Day__vacationCircle {
    position: absolute;
    bottom: 17px;
    left: 50%;
    margin-left: -4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ea992f; }
  .Cal__Day__root.Cal__Day__beforelast {
    color: #a4d8e8; }
  .Cal__Day__root.Cal__Day__disabled.Cal__Day__beforelast {
    cursor: not-allowed; }
  .Cal__Day__root.Cal__Day__preselected {
    position: relative;
    color: #FFFFFF;
    /*&.two, &.three, &.moreThanFour {

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: $rowHeight - 18px;
            height: $rowHeight - 18px;
            margin-top: -0.5 * ($rowHeight - 18px);
            margin-left: -0.5 * ($rowHeight - 18px);
            z-index: -1;
            border-radius: 50%;
        }

        &.nextselected {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                z-index: -1;
            }
        }

        &.prevselected {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                z-index: -1;
            }
        }

        &.prevselected.nextselected {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 100%;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                z-index: -1;
            }
        }

        &.nextdifferentiates {
            &:after {
                opacity: 0;
                border-top-right-radius: $rowHeight / 2;
                border-bottom-right-radius: $rowHeight / 2;
            }

            &.prevselected {
                &:after {
                    left: 0;
                    right: auto;
                    width: $rowHeight / 2;
                    height: $rowHeight - 18px;
                    margin-top: -0.5 * ($rowHeight - 18px);
                    margin-left: 0;
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }

        &.prevdifferentiates {
            &:after {
                opacity: 0;
                border-top-left-radius: $rowHeight / 2;
                border-bottom-left-radius: $rowHeight / 2;
            }

            &.nextselected {
                &:after {
                    left: auto;
                    right: 0;
                    width: $rowHeight / 2;
                    height: $rowHeight - 18px;
                    margin-top: -0.5 * ($rowHeight - 18px);
                    margin-left: -0.5 * ($rowHeight - 18px);
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }

        &.nextdifferentiates.prevdifferentiates {
            &:after {
                display: none;
                border-top-right-radius: $rowHeight / 2;
                border-bottom-right-radius: $rowHeight / 2;
                border-top-left-radius: $rowHeight / 2;
                border-bottom-left-radius: $rowHeight / 2;
            }
        }
    }*/
    /*&.two {

        &:before {
            background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
        }

        &.nextselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
            }
        }

        &.prevselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
            }
        }

        &.prevselected.nextselected {
            &:after {
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
            }
        }
    }

    &.three {

        &:before {
            background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.333333%, #2cb1d8 33.333333%, #2cb1d8 66.666666%,#85bd4c 66.666666%, #85bd4c 100%);
        }

        &.nextselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.333333%, #2cb1d8 33.333333%, #2cb1d8 66.666666%,#85bd4c 66.666666%, #85bd4c 100%);
            }
        }

        &.prevselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.333333%, #2cb1d8 33.333333%, #2cb1d8 66.666666%,#85bd4c 66.666666%, #85bd4c 100%);
            }
        }

        &.prevselected.nextselected {
            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.333333%, #2cb1d8 33.333333%, #2cb1d8 66.666666%,#85bd4c 66.666666%, #85bd4c 100%);
            }
        }
    }

    &.foreOrMore {

        &:before {
            background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%,#85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%);
        }

        &.nextselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%,#85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%);
            }
        }

        &.prevselected {

            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%,#85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%);
            }
        }

        &.prevselected.nextselected {
            &:after {
                background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%,#85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%);
            }
        }
    }*/
    /*
    * COLOR CLASSES START
    */
    /*
    * COLOR CLASSES END
    */ }
    .Cal__Day__root.Cal__Day__preselected:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 52px;
      height: 52px;
      margin-top: -26px;
      margin-left: -26px;
      background: #CCC;
      z-index: -1;
      border-radius: 50%; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__nextselected:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 35px;
      height: 52px;
      margin-top: -26px;
      margin-left: 0;
      z-index: -1; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__prevselected:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 35px;
      height: 52px;
      margin-top: -26px;
      margin-left: 0;
      z-index: -1; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__prevselected.Cal__Day__nextselected:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 52px;
      margin-top: -26px;
      margin-left: 0;
      z-index: -1; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__nextdifferentiates:after {
      opacity: 0;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__nextdifferentiates.Cal__Day__prevselected:after {
      left: 0;
      right: auto;
      width: 35px;
      height: 52px;
      margin-top: -26px;
      margin-left: 0;
      border-radius: 0;
      opacity: 1; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__prevdifferentiates:after {
      opacity: 0;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__prevdifferentiates.Cal__Day__nextselected:after {
      left: auto;
      right: 0;
      width: 35px;
      height: 52px;
      margin-top: -26px;
      margin-left: -26px;
      border-radius: 0;
      opacity: 1; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__nextdifferentiates.Cal__Day__prevdifferentiates:after {
      opacity: 0;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple:before {
      background: #ca569a; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__nextselected:after {
      background: #ca569a; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__prevselected:after {
      background: #ca569a; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: #ca569a; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue:before {
      background: #2cb1d8; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__nextselected:after {
      background: #2cb1d8; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__prevselected:after {
      background: #2cb1d8; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: #2cb1d8; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green:before {
      background: #85bd4c; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__nextselected:after {
      background: #85bd4c; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__prevselected:after {
      background: #85bd4c; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: #85bd4c; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__orange:before {
      background: #ea992f; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__orange.Cal__Day__nextselected:after {
      background: #ea992f; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__orange.Cal__Day__prevselected:after {
      background: #ea992f; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: #ea992f; }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue:before {
      background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green:before {
      background: linear-gradient(to bottom, #ca569a 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #ca569a 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green:before {
      background: linear-gradient(to bottom, #2cb1d8 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #85bd4c 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #2cb1d8 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #85bd4c 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #85bd4c 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #85bd4c 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #85bd4c 50%, #ea992f 50%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green:before {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #85bd4c 66.66667%, #85bd4c 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #85bd4c 66.66667%, #85bd4c 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #85bd4c 66.66667%, #85bd4c 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #85bd4c 66.66667%, #85bd4c 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #2cb1d8 33.33333%, #2cb1d8 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #2cb1d8 0%, #2cb1d8 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 0%, #2cb1d8 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #2cb1d8 0%, #2cb1d8 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #2cb1d8 0%, #2cb1d8 33.33333%, #85bd4c 33.33333%, #85bd4c 66.66667%, #ea992f 66.66667%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__orange:before {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%, #85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%, #85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%, #85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%); }
    .Cal__Day__root.Cal__Day__preselected.Cal__Day__purple.Cal__Day__blue.Cal__Day__green.Cal__Day__orange.Cal__Day__prevselected.Cal__Day__nextselected:after {
      background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%, #85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%); }
  .Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted, .Cal__Day__root.Cal__Day__enabled:active, .Cal__Day__root.Cal__Day__enabled:hover {
    position: relative; }
  .Cal__Day__root:first-child {
    position: relative; }
  .Cal__Day__root.Cal__Day__today {
    position: relative;
    z-index: 2;
    /*

      &.two {
          &.preselected {

              &:before {
                  background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
              }
          }
      }

      &.three {
          &.preselected {

              &:before {
                  background: linear-gradient(to bottom, #ca569a 0%, #ca569a 33.333333%, #2cb1d8 33.333333%, #2cb1d8 66.666666%,#85bd4c 66.666666%, #85bd4c 100%);
              }
          }
      }

      &.foreorMore {
          &.preselected {

              &:before {
                 background: linear-gradient(to bottom, #ca569a 0%, #ca569a 25%, #2cb1d8 25%, #2cb1d8 50%,#85bd4c 50%, #85bd4c 75%, #ea992f 75%, #ea992f 100%);
              }
          }
      }*/ }
    .Cal__Day__root.Cal__Day__today:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 52px;
      height: 52px;
      margin-top: -26px;
      margin-left: -26px;
      background: rgba(44, 177, 216, 0.2);
      z-index: -1;
      border-radius: 50%; }
    .Cal__Day__root.Cal__Day__today.Cal__Day__disabled > span {
      color: #a4d8e8; }
  .Cal__Day__root.Cal__Day__selected {
    position: relative; }
    .Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      border-top: 3px solid #ea992f;
      border-right: 3px solid #ea992f;
      border-bottom: 3px solid #ea992f;
      border-left: 3px solid #ea992f;
      border-radius: 35px;
      line-height: 64px; }
  .Cal__Day__root.Cal__Day__nextdisabled.Cal__Day__enabled.Cal__Day__highlighted:before, .Cal__Day__root.Cal__Day__nextdisabled.Cal__Day__enabled:active:before, .Cal__Day__root.Cal__Day__nextdisabled.Cal__Day__enabled:hover:before {
    border-top: 0;
    border-bottom: 0; }
  .Cal__Day__root.Cal__Day__prevdisabled.Cal__Day__enabled.Cal__Day__highlighted:before, .Cal__Day__root.Cal__Day__prevdisabled.Cal__Day__enabled:active:before, .Cal__Day__root.Cal__Day__prevdisabled.Cal__Day__enabled:hover:before {
    border-top: 0;
    border-bottom: 0; }
  .Cal__Day__root.Cal__Day__disabled {
    color: #a4d8e8;
    box-shadow: none;
    cursor: not-allowed; }

/*
 * Range selection styles
 */
.Cal__Day__range.Cal__Day__selected.Cal__Day__start .Cal__Day__selection {
  border-right: 0;
  border-top: 3px solid #ea992f;
  border-bottom: 3px solid #ea992f;
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start.Cal__Day__nextnotpreselected .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start.Cal__Day__prevnotpreselected .Cal__Day__selection {
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start.Cal__Day__nextdisabled .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__selection {
  border-right: 0;
  border-top: 3px solid #ea992f;
  border-bottom: 3px solid #ea992f;
  border-left: 0;
  border-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__nextnotpreselected .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__prevnotpreselected .Cal__Day__selection {
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__nextdisabled .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__nextdisabled.Cal__Day__disabled {
  border: 0; }
  .Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__nextdisabled.Cal__Day__disabled .Cal__Day__selection {
    border-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__prevdisabled .Cal__Day__selection {
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__prevdisabled.Cal__Day__disabled {
  border: 0;
  border-radius: 0; }
  .Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange.Cal__Day__prevdisabled.Cal__Day__disabled .Cal__Day__selection {
    border: 0;
    border-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top: 3px solid #ea992f;
  border-bottom: 3px solid #ea992f;
  border-left: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end.Cal__Day__nextnotpreselected .Cal__Day__selection {
  border-right: 3px solid #ea992f;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end.Cal__Day__prevnotpreselected .Cal__Day__selection {
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end.Cal__Day__prevdisabled .Cal__Day__selection {
  border-left: 3px solid #ea992f;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end.Cal__Day__prevdisabled.Cal__Day__disabled {
  border: 0;
  border-radius: 0; }
  .Cal__Day__range.Cal__Day__selected.Cal__Day__end.Cal__Day__prevdisabled.Cal__Day__disabled .Cal__Day__selection {
    border: 0;
    border-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled {
  border: 0;
  border-radius: 0; }
  .Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection {
    border: 0;
    border-radius: 0; }
  .Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection {
    border: 0; }
    .Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection .Cal__Day__day, .Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection .Cal__Day__month {
      color: #a4d8e8; }
/*  imported from Container.scss  */

*, *::before, *::after {
  box-sizing: border-box; }

.Cal__Container__root {
  position: relative;
  display: table;
  z-index: 1;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  outline: none;
  text-align: left; }
  .Cal__Container__root.Cal__Container__landscape {
    display: flex;
    flex-direction: row; }
    .Cal__Container__root.Cal__Container__landscape .Cal__Container__wrapper {
      position: relative;
      flex-grow: 1;
      overflow: hidden;
      z-index: 1;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.Cal__Container__listWrapper {
  position: relative;
  background-color: #FFF; }
/*  imported from MonthList.scss  */

.Cal__MonthList__root {
  width: 100% !important;
  background-color: #FFF;
  -webkit-overflow-scrolling: touch; }
  .Cal__MonthList__root.Cal__MonthList__scrolling > div {
    pointer-events: none; }
  .Cal__MonthList__root.Cal__MonthList__scrolling label {
    opacity: 1; }
/*  imported from Today.scss  */

.Cal__Today__root {
  position: absolute;
  top: -28px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  padding: 6px;
  box-sizing: border-box;
  opacity: 0;
  font-weight: 500;
  line-height: 0;
  z-index: 10;
  cursor: pointer;
  transition: opacity 0.3s ease;
  transition-delay: 0.3s;
  border-radius: 50%; }
  .Cal__Today__root.Cal__Today__show {
    opacity: 1;
    transition-delay: 0s;
    transition: opacity 0.3s ease; }
    .Cal__Today__root.Cal__Today__show .Cal__Today__chevron {
      transition: transform 0.3s ease; }
  .Cal__Today__root .Cal__Today__chevron {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease; }
  .Cal__Today__root.Cal__Today__chevronUp .Cal__Today__chevron {
    transform: rotate(-180deg); }
  .Cal__Today__root.Cal__Today__chevronDown .Cal__Today__chevron {
    transform: rotate(0deg); }
/*  imported from Month.scss  */

.Cal__Month__rows {
  position: relative;
  width: 490px;
  float: right; }

.Cal__Month__row {
  padding: 0;
  margin: 0; }
  .Cal__Month__row:first-child {
    text-align: right; }
  .Cal__Month__row.Cal__Month__partial:last-of-type li {
    position: relative;
    z-index: 1; }

.Cal__Month__indicator {
  padding-top: 35px;
  padding-left: 20px;
  max-width: 400px;
  position: absolute; }
  .Cal__Month__indicator .Cal__Month__display {
    width: 200px;
    float: right; }
  .Cal__Month__indicator span {
    display: flex;
    display: block;
    font-size: 18px;
    line-height: 1.39;
    text-align: left;
    color: #2cb1d8;
    text-transform: uppercase; }
    .Cal__Month__indicator span.Cal__Month__month {
      font-weight: 900; }
    .Cal__Month__indicator span.Cal__Month__year {
      font-weight: 400; }
  .Cal__Month__indicator.Cal__Month__indicatorCurrent span {
    color: #ca569a; }

.Cal__Month__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  z-index: 3;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease; }
  .Cal__Month__label > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize; }
  .Cal__Month__label.Cal__Month__partialFirstRow {
    top: 70px; }
