@import "../variables";

@mixin circle() {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $rowHeight - 4px;
  height: $rowHeight - 4px;
  margin-top: -0.5 * ($rowHeight - 4px);
  margin-left: -0.5 * ($rowHeight - 4px);
}

@mixin todayCircle() {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $rowHeight - 4px;
  height: $rowHeight - 4px;
  margin-top: -0.5 * ($rowHeight - 4px);
  margin-left: -0.5 * ($rowHeight - 4px);
  background-color: rgba(44, 177, 216, 0.2);
}

.root {
  display: inline-block;
  box-sizing: border-box;
  width: 1 / 7 * 100%;

  list-style: none;

  font-size: 16px;
  text-align: center;

  cursor: pointer;
  user-select: none;

  max-width: 70px;
  width: 70px;

  &.beforelast {
      color: $textColorDisabled;
  }

  &.disabled.beforelast {
    cursor: not-allowed;
  }

  &.preselected {
    position: relative;
    color: #FFFFFF;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: $rowHeight - 18px;
        height: $rowHeight - 18px;
        margin-top: -0.5 * ($rowHeight - 18px);
        margin-left: -0.5 * ($rowHeight - 18px);
        background: #2cb1d8;
        z-index: -1;
        border-radius: 50%;
    }

    &.nextselected {

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: $rowHeight / 2;
            height: $rowHeight - 18px;
            margin-top: -0.5 * ($rowHeight - 18px);
            margin-left: 0;
            background: #2cb1d8;
            z-index: -1;
        }
    }

    &.prevselected {

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: $rowHeight / 2;
            height: $rowHeight - 18px;
            margin-top: -0.5 * ($rowHeight - 18px);
            margin-left: 0;
            background: #2cb1d8;;
            z-index: -1;
        }
    }

    &.prevselected.nextselected {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 100%;
            height: $rowHeight - 18px;
            margin-top: -0.5 * ($rowHeight - 18px);
            margin-left: 0;
            background: #2cb1d8;
            z-index: -1;
        }
    }

    &.nextdifferentiates {
        &:after {
            opacity: 0;
            border-top-right-radius: $rowHeight / 2;
            border-bottom-right-radius: $rowHeight / 2;
        }

        &.prevselected {
            &:after {
                left: 0;
                right: auto;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                border-radius: 0;
                opacity: 1;
            }
        }
    }

    &.prevdifferentiates {
        &:after {
            opacity: 0;
            border-top-left-radius: $rowHeight / 2;
            border-bottom-left-radius: $rowHeight / 2;
        }

        &.nextselected {
            &:after {
                left: auto;
                right: 0;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: -0.5 * ($rowHeight - 18px);
                border-radius: 0;
                opacity: 1;
            }
        }
    }

    &.nextdifferentiates.prevdifferentiates {
        &:after {
            opacity: 0;
            border-top-right-radius: $rowHeight / 2;
            border-bottom-right-radius: $rowHeight / 2;
            border-top-left-radius: $rowHeight / 2;
            border-bottom-left-radius: $rowHeight / 2;
        }
    }

    &.prestart {

    }

    &.multiple {

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: $rowHeight - 18px;
            height: $rowHeight - 18px;
            margin-top: -0.5 * ($rowHeight - 18px);
            margin-left: -0.5 * ($rowHeight - 18px);
            background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
            z-index: -1;
            border-radius: 50%;
        }

        &.nextselected {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
                z-index: -1;
            }
        }

        &.prevselected {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: $rowHeight / 2;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
                z-index: -1;
            }
        }

        &.prevselected.nextselected {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 100%;
                height: $rowHeight - 18px;
                margin-top: -0.5 * ($rowHeight - 18px);
                margin-left: 0;
                background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
                z-index: -1;
            }
        }

        &.nextdifferentiates {
            &:after {
                opacity: 0;
                border-top-right-radius: $rowHeight / 2;
                border-bottom-right-radius: $rowHeight / 2;
            }

            &.prevselected {
                &:after {
                    left: 0;
                    right: auto;
                    width: $rowHeight / 2;
                    height: $rowHeight - 18px;
                    margin-top: -0.5 * ($rowHeight - 18px);
                    margin-left: 0;
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }

        &.prevdifferentiates {
            &:after {
                opacity: 0;
                border-top-left-radius: $rowHeight / 2;
                border-bottom-left-radius: $rowHeight / 2;
            }

            &.nextselected {
                &:after {
                    left: auto;
                    right: 0;
                    width: $rowHeight / 2;
                    height: $rowHeight - 18px;
                    margin-top: -0.5 * ($rowHeight - 18px);
                    margin-left: -0.5 * ($rowHeight - 18px);
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }

        &.nextdifferentiates.prevdifferentiates {
            &:after {
                border-top-right-radius: $rowHeight / 2;
                border-bottom-right-radius: $rowHeight / 2;
                border-top-left-radius: $rowHeight / 2;
                border-bottom-left-radius: $rowHeight / 2;
            }
        }
    }

    &.single {

    }
  }

  &.enabled {
    &.highlighted, &:active, &:hover {
      position: relative;
    }
  }

  &:first-child {
      position: relative;
  }

  &.today {
      position: relative;
      z-index: 2;

      &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: $rowHeight - 18px;
          height: $rowHeight - 18px;
          margin-top: -0.5 * ($rowHeight - 18px);
          margin-left: -0.5 * ($rowHeight - 18px);
          background: rgba(44, 177, 216, 0.2);
          z-index: -1;
          border-radius: 50%;
      }

      &.disabled > span {
          color: $textColorDisabled;
      }

      &.disabled:before {

      }

      &.preselected {

          &:before {
              //box-shadow: inset 0 0 0 3px $selectionBorderColor;
              background: #2cb1d8;
              opacity: 0.6;
          }

      }

      &.multiple {
          &.preselected {

              &:before {
                  //box-shadow: inset 0 0 0 3px #AAA;
                  background: linear-gradient(to bottom, #ca569a 50%, #2cb1d8 50%);
                  opacity: 0.6;
              }
          }
      }
  }
  &.selected {
    position: relative;

    .selection {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $rowHeight;
        height: $rowHeight;
        margin-top: -0.5 * ($rowHeight);
        margin-left: -0.5 * ($rowHeight);
        border-top: 3px solid $selectionBorderColor;
        border-right: 3px solid $selectionBorderColor;
        border-bottom: 3px solid $selectionBorderColor;
        border-left: 3px solid $selectionBorderColor;
        border-radius: $rowHeight / 2;
        line-height: $rowHeight - 6px;
    }

  }
  &.nextdisabled {

      &.enabled {
        &.highlighted, &:active, &:hover {

          &:before {
            border-top: 0;
            border-bottom: 0;
          }
        }
      }
  }
  &.prevdisabled {

      &.enabled {
        &.highlighted, &:active, &:hover {

          &:before {
            border-top: 0;
            border-bottom: 0;
          }
        }
      }
  }
  &.disabled {
    color: $textColorDisabled;
    box-shadow: none;
    cursor: not-allowed;
  }
}

/*
 * Range selection styles
 */
.range.selected {
  &.start, &.end {

  }

  &.nextdisabled {

  }

  &.prevdisabled {

  }

  &.start {

      .selection {
          border-right: 0;
          border-top: 3px solid $selectionBorderColor;
          border-bottom: 3px solid $selectionBorderColor;
          border-left: 3px solid $selectionBorderColor;
          border-top-left-radius: $rowHeight / 2;
          border-bottom-left-radius: $rowHeight / 2;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }

      &.nextnotpreselected {
          .selection {
              border-right: 3px solid $selectionBorderColor;
              border-top-right-radius: $rowHeight / 2;
              border-bottom-right-radius: $rowHeight / 2;
          }
      }

      &.prevnotpreselected {
          .selection {
              border-left: 3px solid $selectionBorderColor;
              border-top-left-radius: $rowHeight / 2;
              border-bottom-left-radius: $rowHeight / 2;
          }
      }

      &.nextdisabled {

          .selection {
              border-right: 3px solid $selectionBorderColor;
              border-top-right-radius: $rowHeight / 2;
              border-bottom-right-radius: $rowHeight / 2;
          }
      }

  }
  &.betweenRange {

      .selection {
          border-right: 0;
          border-top: 3px solid $selectionBorderColor;
          border-bottom: 3px solid $selectionBorderColor;
          border-left: 0;
          border-radius: 0;
      }

      &.nextnotpreselected {
          .selection {
              border-right: 3px solid $selectionBorderColor;
              border-top-right-radius: $rowHeight / 2;
              border-bottom-right-radius: $rowHeight / 2;
          }
      }

      &.prevnotpreselected {
          .selection {
              border-left: 3px solid $selectionBorderColor;
              border-top-left-radius: $rowHeight / 2;
              border-bottom-left-radius: $rowHeight / 2;
          }
      }

      &.nextdisabled {
          .selection {
              border-right: 3px solid $selectionBorderColor;
              border-top-right-radius: $rowHeight / 2;
              border-bottom-right-radius: $rowHeight / 2;
          }

          &.disabled {
              border: 0;
              .selection {
                  border-radius: 0;
              }
          }
      }

      &.prevdisabled {
          .selection {
              border-left: 3px solid $selectionBorderColor;
              border-top-left-radius: $rowHeight / 2;
              border-bottom-left-radius: $rowHeight / 2;
          }

          &.disabled {
              border: 0;
              border-radius: 0;

              .selection {
                  border: 0;
                  border-radius: 0;
              }
          }
      }
  }
  &.end {
      .selection {
        border-right: 3px solid $selectionBorderColor;
        border-top: 3px solid $selectionBorderColor;
        border-bottom: 3px solid $selectionBorderColor;
        border-left: 0;
        border-top-right-radius: $rowHeight / 2;
        border-bottom-right-radius: $rowHeight / 2;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.nextnotpreselected {
        .selection {
            border-right: 3px solid $selectionBorderColor;
            border-top-right-radius: $rowHeight / 2;
            border-bottom-right-radius: $rowHeight / 2;
        }
    }

    &.prevnotpreselected {
        .selection {
            border-left: 3px solid $selectionBorderColor;
            border-top-left-radius: $rowHeight / 2;
            border-bottom-left-radius: $rowHeight / 2;
        }
    }

    &.prevdisabled {
        .selection {
            border-left: 3px solid $selectionBorderColor;
            border-top-left-radius: $rowHeight / 2;
            border-bottom-left-radius: $rowHeight / 2;
        }

        &.disabled {
            border: 0;
            border-radius: 0;

            .selection {
                border: 0;
                border-radius: 0;
            }
        }
    }
  }
  &.disabled {
      border: 0;
      border-radius: 0;

      .selection {
          border: 0;
          border-radius: 0;
      }
    .selection.selection {
        border: 0;

      .day, .month {
        color: $textColorDisabled;
      }
    }
  }
}
