// @Variables
$weekdaysBackgroundColor: #2cb1d8;
$textColor: #2cb1d8;
$textColorDisabled: #a4d8e8;
$textColorCurrentMonth: #ca569a;
$rowHeight: 74px;
$borderRadius: 3px;
$borderColor: #E9E9E9;
$selectionBorderColor: #ea992f;
$cellHoverBg: #EFEFEF;
$selectionBorderColor: #ea992f;
